In [44]:
#Importar librerias

In [208]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

In [209]:
#Lectura de archivo

In [210]:
df = pd.read_csv("movies.csv")

In [211]:
df.head(2)

,year,movie,movie_id,certificate,duration,genre,rate,metascore,synopsis,votes,...,New_York_Film_Critics_Circle_nominated,New_York_Film_Critics_Circle_nominated_categories,Los_Angeles_Film_Critics_Association_won,Los_Angeles_Film_Critics_Association_won_categories,Los_Angeles_Film_Critics_Association_nominated,Los_Angeles_Film_Critics_Association_nominated_categories,release_date.year,release_date.month,release_date.day-of-month,release_date.day-of-week
0,2001,Kate & Leopold,tt0035423,PG-13,118,Comedy|Fantasy|Romance,6.4,44.0,An English Duke from 1876 is inadvertedly drag...,66660,...,0,NaN,0,NaN,0,NaN,2001.0,12.0,25.0,2.0
1,2000,Chicken Run,tt0120630,G,84,Animation|Adventure|Comedy,7.0,88.0,When a cockerel apparently flies into a chicke...,144475,...,1,Best Animated Film,1,Best Animation,1,Best Animation,2000.0,6.0,23.0,5.0

In [212]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1288 entries, 0 to 1287
Columns: 119 entries, year to release_date.day-of-week
dtypes: float64(10), int64(46), object(63)
memory usage: 1.2+ MB

In [213]:
# Calcula el porcentaje de valores nulos en cada columna
null_vals = df.isnull().mean()

# Muestra el resultado
print(null_vals)

year                                                         0.000000
movie                                                        0.000776
movie_id                                                     0.000000
certificate                                                  0.031056
duration                                                     0.000000
                                                               ...
Los_Angeles_Film_Critics_Association_nominated_categories    0.815994
release_date.year                                            0.037267
release_date.month                                           0.037267
release_date.day-of-month                                    0.037267
release_date.day-of-week                                     0.037267
Length: 119, dtype: float64

In [214]:
# Muestra el resultado en formato de porcentaje
null_vals = null_vals * 100
print(null_vals.apply(lambda x: f'{x:.2f}%'))

year                                                          0.00%
movie                                                         0.08%
movie_id                                                      0.00%
certificate                                                   3.11%
duration                                                      0.00%
                                                              ...
Los_Angeles_Film_Critics_Association_nominated_categories    81.60%
release_date.year                                             3.73%
release_date.month                                            3.73%
release_date.day-of-month                                     3.73%
release_date.day-of-week                                      3.73%
Length: 119, dtype: object

In [215]:
df.drop(inplace = True, columns=['genre','movie_id','certificate','synopsis','Oscar_nominated_categories','Golden_Globes_won_categories','Golden_Globes_nominated_categories','BAFTA_won_categories','BAFTA_nominated_categories',                                  

'Screen_Actors_Guild_won_categories','Screen_Actors_Guild_nominated_categories','Critics_Choice_won_categories','Directors_Guild_won_categories',                              

'Directors_Guild_nominated_categories','Producers_Guild_won_categories','Producers_Guild_nominated_categories','Art_Directors_Guild_won_categories',  'Art_Directors_Guild_nominated_categories','Writers_Guild_won_categories','Writers_Guild_nominated_categories',                          

'Costume_Designers_Guild_won_categories','Costume_Designers_Guild_nominated_categories','Online_Film_Television_Association_won_categories'            

,'Online_Film_Television_Association_nominated_categories','Online_Film_Critics_Society_won_categories'                  

,'Online_Film_Critics_Society_nominated_categories' ,'People_Choice_won_categories' ,'People_Choice_nominated_categories', 
'London_Critics_Circle_Film_won_categories','London_Critics_Circle_Film_nominated_categories','American_Cinema_Editors_won_categories',                    'American_Cinema_Editors_nominated_categories','Hollywood_Film_won_categories',                               

'Hollywood_Film_nominated_categories','Austin_Film_Critics_Association_won_categories','Austin_Film_Critics_Association_nominated_categories',         

'Denver_Film_Critics_Society_won_categories', 'Denver_Film_Critics_Society_nominated_categories','Boston_Society_of_Film_Critics_won_categories',                

'Boston_Society_of_Film_Critics_nominated_categories', 'New_York_Film_Critics_Circle_won_categories', 'New_York_Film_Critics_Circle_nominated_categories',            

'Los_Angeles_Film_Critics_Association_won_categories', 'Los_Angeles_Film_Critics_Association_nominated_categories','release_date','Critics_Choice_nominated_categories'])

In [216]:
df.head(3)

,year,movie,duration,rate,metascore,votes,gross,user_reviews,critic_reviews,popularity,...,Boston_Society_of_Film_Critics_won,Boston_Society_of_Film_Critics_nominated,New_York_Film_Critics_Circle_won,New_York_Film_Critics_Circle_nominated,Los_Angeles_Film_Critics_Association_won,Los_Angeles_Film_Critics_Association_nominated,release_date.year,release_date.month,release_date.day-of-month,release_date.day-of-week
0,2001,Kate & Leopold,118,6.4,44.0,66660,47100000.0,318.0,125.0,2363.0,...,0,0,0,0,0,0,2001.0,12.0,25.0,2.0
1,2000,Chicken Run,84,7.0,88.0,144475,106790000.0,361.0,186.0,2859.0,...,0,0,1,1,1,1,2000.0,6.0,23.0,5.0
2,2005,Fantastic Four,106,5.7,40.0,273203,154700000.0,1008.0,278.0,1876.0,...,0,0,0,0,0,0,2005.0,7.0,8.0,5.0

In [217]:
#En las siguientes lineas de códigos evaluamos los datos faltantes,y por medio de una descripción estadisitica donde la media 
#no se afectara reemplazamos valores, para que de esta manera no perdieda valores

In [218]:
df['metascore'].fillna(df['metascore'].mean(), inplace=True)

In [219]:
df['gross'].fillna(df['gross'].mean(), inplace=True)

In [220]:
df['user_reviews'].fillna(df['user_reviews'].mean(), inplace=True)

In [221]:
df['critic_reviews'].fillna(df['critic_reviews'].mean(), inplace=True)

In [222]:
df['popularity'].fillna(df['popularity'].mean(), inplace=True)

In [223]:
df['release_date.month'].fillna(df['release_date.month'].mean(), inplace=True)

In [224]:
df['release_date.day-of-month'].fillna(df['release_date.day-of-month'].mean(), inplace=True)

In [225]:
df['release_date.day-of-week'].fillna(df['release_date.day-of-week'].mean(), inplace=True)

In [226]:
df['release_date.year'].fillna(df['release_date.year'].mean(), inplace=True)

In [227]:
df.head(3)

,year,movie,duration,rate,metascore,votes,gross,user_reviews,critic_reviews,popularity,...,Boston_Society_of_Film_Critics_won,Boston_Society_of_Film_Critics_nominated,New_York_Film_Critics_Circle_won,New_York_Film_Critics_Circle_nominated,Los_Angeles_Film_Critics_Association_won,Los_Angeles_Film_Critics_Association_nominated,release_date.year,release_date.month,release_date.day-of-month,release_date.day-of-week
0,2001,Kate & Leopold,118,6.4,44.0,66660,47100000.0,318.0,125.0,2363.0,...,0,0,0,0,0,0,2001.0,12.0,25.0,2.0
1,2000,Chicken Run,84,7.0,88.0,144475,106790000.0,361.0,186.0,2859.0,...,0,0,1,1,1,1,2000.0,6.0,23.0,5.0
2,2005,Fantastic Four,106,5.7,40.0,273203,154700000.0,1008.0,278.0,1876.0,...,0,0,0,0,0,0,2005.0,7.0,8.0,5.0

In [242]:
df

,year,movie,duration,rate,metascore,votes,gross,user_reviews,critic_reviews,popularity,...,Boston_Society_of_Film_Critics_won,Boston_Society_of_Film_Critics_nominated,New_York_Film_Critics_Circle_won,New_York_Film_Critics_Circle_nominated,Los_Angeles_Film_Critics_Association_won,Los_Angeles_Film_Critics_Association_nominated,release_date.year,release_date.month,release_date.day-of-month,release_date.day-of-week
0,2001,Kate & Leopold,118,6.4,44.000000,66660,4.710000e+07,318.0,125.0,2363.000000,...,0,0,0,0,0,0,2001.000000,12.000000,25.000000,2.000000
1,2000,Chicken Run,84,7.0,88.000000,144475,1.067900e+08,361.0,186.0,2859.000000,...,0,0,1,1,1,1,2000.000000,6.000000,23.000000,5.000000
2,2005,Fantastic Four,106,5.7,40.000000,273203,1.547000e+08,1008.0,278.0,1876.000000,...,0,0,0,0,0,0,2005.000000,7.000000,8.000000,5.000000
3,2002,Frida,123,7.4,61.000000,63852,2.578000e+07,272.0,126.0,2508.000000,...,0,0,0,0,0,0,2002.000000,11.000000,22.000000,5.000000
4,2001,The Lord of the Rings: The Fellowship of the Ring,178,8.8,92.000000,1286275,3.138400e+08,5078.0,296.0,204.000000,...,0,1,0,0,1,2,2001.000000,12.000000,19.000000,3.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283,2019,American Factory,110,7.5,86.000000,6629,8.688069e+07,96.0,39.0,958.000000,...,0,0,0,0,1,1,2008.862903,6.823387,15.995968,4.678226
1284,2018,In the Absence,28,7.7,64.541195,416,8.688069e+07,3.0,5.0,1237.139719,...,0,0,0,0,0,0,2008.862903,6.823387,15.995968,4.678226
1285,2019,Kitbull,9,8.1,64.541195,2247,8.688069e+07,13.0,10.0,1237.139719,...,0,0,0,0,0,0,2019.000000,2.000000,18.000000,1.000000
1286,2019,For Sama,96,8.6,89.000000,2466,8.688069e+07,45.0,59.0,550.000000,...,0,0,0,0,0,0,2008.862903,6.823387,15.995968,4.678226
1287,2019,I Lost My Body,81,7.6,80.000000,12388,8.688069e+07,76.0,84.0,386.000000,...,1,1,1,1,2,2,2019.000000,11.000000,6.000000,3.000000

In [247]:
df = df.dropna()

In [248]:
df["Oscar_Best_Picture_won"].value_counts()

No     1268
Yes      19
Name: Oscar_Best_Picture_won, dtype: int64

In [249]:
# Selecciona las columnas categóricas
df_cat = df.select_dtypes(include=['object'])

# Selecciona las columnas numéricas
df_num = df.select_dtypes(exclude=['object'])

In [252]:
df_dummies = pd.get_dummies(df_cat)

df_dummies.head(3)

,movie_10 Cloverfield Lane,movie_102 Dalmatians,movie_12,movie_12 Years a Slave,movie_127 Hours,movie_13 Hours,movie_17 Again,movie_1917,movie_2 Fast 2 Furious,movie_2012,...,Oscar_Best_Supporting_Actress_nominated_No,Oscar_Best_Supporting_Actress_nominated_Yes,Oscar_Best_AdaScreen_won_No,Oscar_Best_AdaScreen_won_Yes,Oscar_Best_AdaScreen_nominated_No,Oscar_Best_AdaScreen_nominated_Yes,Oscar_Best_OriScreen_won_No,Oscar_Best_OriScreen_won_Yes,Oscar_Best_OriScreen_nominated_No,Oscar_Best_OriScreen_nominated_Yes
0,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,1,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,1,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,1,0,1,0

In [250]:
df_cat.columns

Index(['movie', 'Oscar_Best_Picture_won', 'Oscar_Best_Picture_nominated',
       'Oscar_Best_Director_won', 'Oscar_Best_Director_nominated',
       'Oscar_Best_Actor_won', 'Oscar_Best_Actor_nominated',
       'Oscar_Best_Actress_won', 'Oscar_Best_Actress_nominated',
       'Oscar_Best_Supporting_Actor_won',
       'Oscar_Best_Supporting_Actor_nominated',
       'Oscar_Best_Supporting_Actress_won',
       'Oscar_Best_Supporting_Actress_nominated', 'Oscar_Best_AdaScreen_won',
       'Oscar_Best_AdaScreen_nominated', 'Oscar_Best_OriScreen_won',
       'Oscar_Best_OriScreen_nominated'],
      dtype='object')

In [254]:
var_obj = df[['Oscar_Best_Picture_won']]

In [251]:
df_cat = df_cat.drop(['Oscar_Best_Picture_won'], axis=1)

In [255]:
df_final = pd.concat([df_num, df_dummies, var_obj], axis=1)

In [256]:
df_final

,year,duration,rate,metascore,votes,gross,user_reviews,critic_reviews,popularity,awards_wins,...,Oscar_Best_Supporting_Actress_nominated_Yes,Oscar_Best_AdaScreen_won_No,Oscar_Best_AdaScreen_won_Yes,Oscar_Best_AdaScreen_nominated_No,Oscar_Best_AdaScreen_nominated_Yes,Oscar_Best_OriScreen_won_No,Oscar_Best_OriScreen_won_Yes,Oscar_Best_OriScreen_nominated_No,Oscar_Best_OriScreen_nominated_Yes,Oscar_Best_Picture_won
0,2001,118,6.4,44.000000,66660,4.710000e+07,318.0,125.0,2363.000000,1,...,0,1,0,1,0,1,0,1,0,No
1,2000,84,7.0,88.000000,144475,1.067900e+08,361.0,186.0,2859.000000,5,...,0,1,0,1,0,1,0,1,0,No
2,2005,106,5.7,40.000000,273203,1.547000e+08,1008.0,278.0,1876.000000,0,...,0,1,0,1,0,1,0,1,0,No
3,2002,123,7.4,61.000000,63852,2.578000e+07,272.0,126.0,2508.000000,2,...,0,1,0,1,0,1,0,1,0,No
4,2001,178,8.8,92.000000,1286275,3.138400e+08,5078.0,296.0,204.000000,26,...,0,1,0,0,1,1,0,1,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283,2019,110,7.5,86.000000,6629,8.688069e+07,96.0,39.0,958.000000,2,...,0,1,0,1,0,1,0,1,0,No
1284,2018,28,7.7,64.541195,416,8.688069e+07,3.0,5.0,1237.139719,0,...,0,1,0,1,0,1,0,1,0,No
1285,2019,9,8.1,64.541195,2247,8.688069e+07,13.0,10.0,1237.139719,0,...,0,1,0,1,0,1,0,1,0,No
1286,2019,96,8.6,89.000000,2466,8.688069e+07,45.0,59.0,550.000000,2,...,0,1,0,1,0,1,0,1,0,No
1287,2019,81,7.6,80.000000,12388,8.688069e+07,76.0,84.0,386.000000,5,...,0,1,0,1,0,1,0,1,0,No

In [257]:
df_final['Oscar_Best_Picture_won'] = df_final['Oscar_Best_Picture_won'].replace('Yes', 1)
df_final['Oscar_Best_Picture_won'] = df_final['Oscar_Best_Picture_won'].replace('No', 0)

In [259]:
df_final['Oscar_Best_Picture_won'].unique()

array([0, 1], dtype=int64)

In [232]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [261]:

# Separamos los datos en dos matrices: una para las variables de entrada (X) y otra para la variable de salida (y)
X = df_final.drop(['Oscar_Best_Picture_won'], axis = 1 )
y = df_final[['Oscar_Best_Picture_won']]

In [264]:

# Dividimos el conjunto de datos en dos partes: entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [265]:
# Creamos el modelo de regresión logística
model = LogisticRegression()

In [266]:

# Entrenamos el modelo con los datos de entrenamiento
model.fit(X_train, y_train)

C:\Users\lauraamartinez\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [267]:
# Calcular la precisión del modelo sobre el conjunto de pruebas
precision = model.score(X_test, y_test)

# Imprimir la precisión
print(precision)

0.9806201550387597

In [268]:
from sklearn.metrics import classification_report

# Hacer predicciones sobre el conjunto de pruebas
y_pred = model.predict(X_test)

# Imprimir un informe de clasificación con las métricas relevantes
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99       253
           1       0.00      0.00      0.00         5

    accuracy                           0.98       258
   macro avg       0.49      0.50      0.50       258
weighted avg       0.96      0.98      0.97       258

C:\Users\lauraamartinez\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\lauraamartinez\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\lauraamartinez\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [269]:
X_test.head()

,year,duration,rate,metascore,votes,gross,user_reviews,critic_reviews,popularity,awards_wins,...,Oscar_Best_Supporting_Actress_nominated_No,Oscar_Best_Supporting_Actress_nominated_Yes,Oscar_Best_AdaScreen_won_No,Oscar_Best_AdaScreen_won_Yes,Oscar_Best_AdaScreen_nominated_No,Oscar_Best_AdaScreen_nominated_Yes,Oscar_Best_OriScreen_won_No,Oscar_Best_OriScreen_won_Yes,Oscar_Best_OriScreen_nominated_No,Oscar_Best_OriScreen_nominated_Yes
979,2014,136,7.8,70.0,523033,259750000.0,757.0,580.0,548.0,0,...,1,0,1,0,1,0,1,0,1,0
19,2002,121,7.3,73.0,561251,403710000.0,2017.0,291.0,437.0,1,...,1,0,1,0,1,0,1,0,1,0
687,2011,105,6.4,54.0,85175,29959436.0,354.0,332.0,3169.0,8,...,1,0,1,0,1,0,1,0,1,0
156,2001,83,5.3,29.0,123011,71280000.0,551.0,127.0,2356.0,0,...,1,0,1,0,1,0,1,0,1,0
263,2004,126,7.8,75.0,85134,16760000.0,299.0,189.0,4223.0,3,...,1,0,1,0,0,1,1,0,1,0