# Prediccion del Oscar


### Intergrantes: 
    - Laura Andrea Martinez
    - Rafael Figueredo

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

In [4]:
#Lectura de archivo

In [5]:
df = pd.read_csv("movies.csv")

In [6]:
df.head(2)

,year,movie,movie_id,certificate,duration,genre,rate,metascore,synopsis,votes,...,New_York_Film_Critics_Circle_nominated,New_York_Film_Critics_Circle_nominated_categories,Los_Angeles_Film_Critics_Association_won,Los_Angeles_Film_Critics_Association_won_categories,Los_Angeles_Film_Critics_Association_nominated,Los_Angeles_Film_Critics_Association_nominated_categories,release_date.year,release_date.month,release_date.day-of-month,release_date.day-of-week
0,2001,Kate & Leopold,tt0035423,PG-13,118,Comedy|Fantasy|Romance,6.4,44.0,An English Duke from 1876 is inadvertedly drag...,66660,...,0,NaN,0,NaN,0,NaN,2001.0,12.0,25.0,2.0
1,2000,Chicken Run,tt0120630,G,84,Animation|Adventure|Comedy,7.0,88.0,When a cockerel apparently flies into a chicke...,144475,...,1,Best Animated Film,1,Best Animation,1,Best Animation,2000.0,6.0,23.0,5.0

In [7]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1345 entries, 0 to 1344
Columns: 119 entries, year to release_date.day-of-week
dtypes: float64(10), int64(46), object(63)
memory usage: 1.2+ MB

In [8]:
# Calcula el porcentaje de valores nulos en cada columna
null_vals = df.isnull().mean()

# Muestra el resultado
print(null_vals)

year                                                         0.000000
movie                                                        0.000000
movie_id                                                     0.000000
certificate                                                  0.038662
duration                                                     0.000000
                                                               ...
Los_Angeles_Film_Critics_Association_nominated_categories    0.815613
release_date.year                                            0.035688
release_date.month                                           0.035688
release_date.day-of-month                                    0.035688
release_date.day-of-week                                     0.035688
Length: 119, dtype: float64

In [9]:
# Muestra el resultado en formato de porcentaje
null_vals = null_vals * 100
print(null_vals.apply(lambda x: f'{x:.2f}%'))

year                                                          0.00%
movie                                                         0.00%
movie_id                                                      0.00%
certificate                                                   3.87%
duration                                                      0.00%
                                                              ...
Los_Angeles_Film_Critics_Association_nominated_categories    81.56%
release_date.year                                             3.57%
release_date.month                                            3.57%
release_date.day-of-month                                     3.57%
release_date.day-of-week                                      3.57%
Length: 119, dtype: object

In [10]:
df.drop(inplace = True, columns=['genre','movie_id','certificate','synopsis','Oscar_nominated_categories','Golden_Globes_won_categories','Golden_Globes_nominated_categories','BAFTA_won_categories','BAFTA_nominated_categories',                                  

'Screen_Actors_Guild_won_categories','Screen_Actors_Guild_nominated_categories','Critics_Choice_won_categories','Directors_Guild_won_categories',                              

'Directors_Guild_nominated_categories','Producers_Guild_won_categories','Producers_Guild_nominated_categories','Art_Directors_Guild_won_categories',  'Art_Directors_Guild_nominated_categories','Writers_Guild_won_categories','Writers_Guild_nominated_categories',                          

'Costume_Designers_Guild_won_categories','Costume_Designers_Guild_nominated_categories','Online_Film_Television_Association_won_categories'            

,'Online_Film_Television_Association_nominated_categories','Online_Film_Critics_Society_won_categories'                  

,'Online_Film_Critics_Society_nominated_categories' ,'People_Choice_won_categories' ,'People_Choice_nominated_categories', 
'London_Critics_Circle_Film_won_categories','London_Critics_Circle_Film_nominated_categories','American_Cinema_Editors_won_categories',                    'American_Cinema_Editors_nominated_categories','Hollywood_Film_won_categories',                               

'Hollywood_Film_nominated_categories','Austin_Film_Critics_Association_won_categories','Austin_Film_Critics_Association_nominated_categories',         

'Denver_Film_Critics_Society_won_categories', 'Denver_Film_Critics_Society_nominated_categories','Boston_Society_of_Film_Critics_won_categories',                

'Boston_Society_of_Film_Critics_nominated_categories', 'New_York_Film_Critics_Circle_won_categories', 'New_York_Film_Critics_Circle_nominated_categories',            

'Los_Angeles_Film_Critics_Association_won_categories', 'Los_Angeles_Film_Critics_Association_nominated_categories','release_date','Critics_Choice_nominated_categories'])

In [11]:
df.head(3)

,year,movie,duration,rate,metascore,votes,gross,user_reviews,critic_reviews,popularity,...,Boston_Society_of_Film_Critics_won,Boston_Society_of_Film_Critics_nominated,New_York_Film_Critics_Circle_won,New_York_Film_Critics_Circle_nominated,Los_Angeles_Film_Critics_Association_won,Los_Angeles_Film_Critics_Association_nominated,release_date.year,release_date.month,release_date.day-of-month,release_date.day-of-week
0,2001,Kate & Leopold,118,6.4,44.0,66660,47100000.0,318.0,125.0,2363.0,...,0,0,0,0,0,0,2001.0,12.0,25.0,2.0
1,2000,Chicken Run,84,7.0,88.0,144475,106790000.0,361.0,186.0,2859.0,...,0,0,1,1,1,1,2000.0,6.0,23.0,5.0
2,2005,Fantastic Four,106,5.7,40.0,273203,154700000.0,1008.0,278.0,1876.0,...,0,0,0,0,0,0,2005.0,7.0,8.0,5.0

In [12]:
#En las siguientes lineas de cÃ³digos evaluamos los datos faltantes,y por medio de una descripciÃ³n estadisitica donde la media 
#no se afectara reemplazamos valores, para que de esta manera no perdieda valores

In [13]:
df['metascore'].fillna(df['metascore'].mean(), inplace=True)

In [14]:
df['gross'].fillna(df['gross'].mean(), inplace=True)

In [15]:
df['user_reviews'].fillna(df['user_reviews'].mean(), inplace=True)

In [16]:
df['critic_reviews'].fillna(df['critic_reviews'].mean(), inplace=True)

In [17]:
df['popularity'].fillna(df['popularity'].mean(), inplace=True)

In [18]:
df['release_date.month'].fillna(df['release_date.month'].mean(), inplace=True)

In [19]:
df['release_date.day-of-month'].fillna(df['release_date.day-of-month'].mean(), inplace=True)

In [20]:
df['release_date.day-of-week'].fillna(df['release_date.day-of-week'].mean(), inplace=True)

In [21]:
df['release_date.year'].fillna(df['release_date.year'].mean(), inplace=True)

In [22]:
df.head(3)

,year,movie,duration,rate,metascore,votes,gross,user_reviews,critic_reviews,popularity,...,Boston_Society_of_Film_Critics_won,Boston_Society_of_Film_Critics_nominated,New_York_Film_Critics_Circle_won,New_York_Film_Critics_Circle_nominated,Los_Angeles_Film_Critics_Association_won,Los_Angeles_Film_Critics_Association_nominated,release_date.year,release_date.month,release_date.day-of-month,release_date.day-of-week
0,2001,Kate & Leopold,118,6.4,44.0,66660,47100000.0,318.0,125.0,2363.0,...,0,0,0,0,0,0,2001.0,12.0,25.0,2.0
1,2000,Chicken Run,84,7.0,88.0,144475,106790000.0,361.0,186.0,2859.0,...,0,0,1,1,1,1,2000.0,6.0,23.0,5.0
2,2005,Fantastic Four,106,5.7,40.0,273203,154700000.0,1008.0,278.0,1876.0,...,0,0,0,0,0,0,2005.0,7.0,8.0,5.0

In [23]:
df

,year,movie,duration,rate,metascore,votes,gross,user_reviews,critic_reviews,popularity,...,Boston_Society_of_Film_Critics_won,Boston_Society_of_Film_Critics_nominated,New_York_Film_Critics_Circle_won,New_York_Film_Critics_Circle_nominated,Los_Angeles_Film_Critics_Association_won,Los_Angeles_Film_Critics_Association_nominated,release_date.year,release_date.month,release_date.day-of-month,release_date.day-of-week
0,2001,Kate & Leopold,118,6.4,44.0,66660,4.710000e+07,318.0,125.0,2363.0,...,0,0,0,0,0,0,2001.0,12.0,25.0,2.0
1,2000,Chicken Run,84,7.0,88.0,144475,1.067900e+08,361.0,186.0,2859.0,...,0,0,1,1,1,1,2000.0,6.0,23.0,5.0
2,2005,Fantastic Four,106,5.7,40.0,273203,1.547000e+08,1008.0,278.0,1876.0,...,0,0,0,0,0,0,2005.0,7.0,8.0,5.0
3,2002,Frida,123,7.4,61.0,63852,2.578000e+07,272.0,126.0,2508.0,...,0,0,0,0,0,0,2002.0,11.0,22.0,5.0
4,2001,The Lord of the Rings: The Fellowship of the Ring,178,8.8,92.0,1286275,3.138400e+08,5078.0,296.0,204.0,...,0,1,0,0,1,2,2001.0,12.0,19.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1340,2020,Promising Young Woman,113,7.5,73.0,71016,1.194238e+07,699.0,634.0,16.0,...,0,0,0,0,2,2,2020.0,12.0,25.0,5.0
1341,2020,Nomadland,107,7.5,93.0,54049,5.035944e+06,501.0,276.0,26.0,...,3,4,1,1,1,3,2021.0,2.0,19.0,5.0
1342,2020,Da 5 Bloods,154,6.5,82.0,43723,8.605192e+07,819.0,257.0,632.0,...,0,0,2,2,0,0,2020.0,6.0,12.0,5.0
1343,2020,Judas and the Black Messiah,126,7.6,85.0,35916,6.000022e+06,260.0,215.0,44.0,...,0,0,0,0,0,0,2021.0,2.0,12.0,5.0
1344,2019,I Lost My Body,81,7.6,80.0,12388,8.605192e+07,76.0,84.0,386.0,...,1,1,1,1,2,2,2019.0,11.0,6.0,3.0

In [24]:
df = df.dropna()

In [25]:
df["Oscar_Best_Picture_won"].value_counts()

No     1325
Yes      20
Name: Oscar_Best_Picture_won, dtype: int64

In [26]:
# Selecciona las columnas categÃ³ricas
df_cat = df.select_dtypes(include=['object'])

# Selecciona las columnas numÃ©ricas
df_num = df.select_dtypes(exclude=['object'])

In [27]:
df_dummies = pd.get_dummies(df_cat)

df_dummies.head(3)

,movie_10 Cloverfield Lane,movie_102 Dalmatians,movie_12,movie_12 Years a Slave,movie_127 Hours,movie_13 Hours,movie_17 Again,movie_1917,movie_2 Fast 2 Furious,movie_2012,...,Oscar_Best_Supporting_Actress_nominated_No,Oscar_Best_Supporting_Actress_nominated_Yes,Oscar_Best_AdaScreen_won_No,Oscar_Best_AdaScreen_won_Yes,Oscar_Best_AdaScreen_nominated_No,Oscar_Best_AdaScreen_nominated_Yes,Oscar_Best_OriScreen_won_No,Oscar_Best_OriScreen_won_Yes,Oscar_Best_OriScreen_nominated_No,Oscar_Best_OriScreen_nominated_Yes
0,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,1,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,1,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,1,0,1,0

In [28]:
df_cat.columns

Index(['movie', 'Oscar_Best_Picture_won', 'Oscar_Best_Picture_nominated',
       'Oscar_Best_Director_won', 'Oscar_Best_Director_nominated',
       'Oscar_Best_Actor_won', 'Oscar_Best_Actor_nominated',
       'Oscar_Best_Actress_won', 'Oscar_Best_Actress_nominated',
       'Oscar_Best_Supporting_Actor_won',
       'Oscar_Best_Supporting_Actor_nominated',
       'Oscar_Best_Supporting_Actress_won',
       'Oscar_Best_Supporting_Actress_nominated', 'Oscar_Best_AdaScreen_won',
       'Oscar_Best_AdaScreen_nominated', 'Oscar_Best_OriScreen_won',
       'Oscar_Best_OriScreen_nominated'],
      dtype='object')

In [29]:
var_obj = df[['Oscar_Best_Picture_won']]

In [30]:
df_cat = df_cat.drop(['Oscar_Best_Picture_won'], axis=1)

In [31]:
df_final = pd.concat([df_num, df_dummies, var_obj], axis=1)

In [32]:
df_final

,year,duration,rate,metascore,votes,gross,user_reviews,critic_reviews,popularity,awards_wins,...,Oscar_Best_Supporting_Actress_nominated_Yes,Oscar_Best_AdaScreen_won_No,Oscar_Best_AdaScreen_won_Yes,Oscar_Best_AdaScreen_nominated_No,Oscar_Best_AdaScreen_nominated_Yes,Oscar_Best_OriScreen_won_No,Oscar_Best_OriScreen_won_Yes,Oscar_Best_OriScreen_nominated_No,Oscar_Best_OriScreen_nominated_Yes,Oscar_Best_Picture_won
0,2001,118,6.4,44.0,66660,4.710000e+07,318.0,125.0,2363.0,1,...,0,1,0,1,0,1,0,1,0,No
1,2000,84,7.0,88.0,144475,1.067900e+08,361.0,186.0,2859.0,5,...,0,1,0,1,0,1,0,1,0,No
2,2005,106,5.7,40.0,273203,1.547000e+08,1008.0,278.0,1876.0,0,...,0,1,0,1,0,1,0,1,0,No
3,2002,123,7.4,61.0,63852,2.578000e+07,272.0,126.0,2508.0,2,...,0,1,0,1,0,1,0,1,0,No
4,2001,178,8.8,92.0,1286275,3.138400e+08,5078.0,296.0,204.0,26,...,0,1,0,0,1,1,0,1,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1340,2020,113,7.5,73.0,71016,1.194238e+07,699.0,634.0,16.0,22,...,0,1,0,1,0,1,0,0,1,No
1341,2020,107,7.5,93.0,54049,5.035944e+06,501.0,276.0,26.0,33,...,0,1,0,0,1,1,0,1,0,No
1342,2020,154,6.5,82.0,43723,8.605192e+07,819.0,257.0,632.0,4,...,0,1,0,1,0,1,0,1,0,No
1343,2020,126,7.6,85.0,35916,6.000022e+06,260.0,215.0,44.0,6,...,0,1,0,1,0,1,0,0,1,No
1344,2019,81,7.6,80.0,12388,8.605192e+07,76.0,84.0,386.0,5,...,0,1,0,1,0,1,0,1,0,No

In [33]:
df_final['Oscar_Best_Picture_won'] = df_final['Oscar_Best_Picture_won'].replace('Yes', 1)
df_final['Oscar_Best_Picture_won'] = df_final['Oscar_Best_Picture_won'].replace('No', 0)

In [34]:
df_final['Oscar_Best_Picture_won'].unique()

array([0, 1])

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [36]:

# Separamos los datos en dos matrices: una para las variables de entrada (X) y otra para la variable de salida (y)
X = df_final.drop(['Oscar_Best_Picture_won'], axis = 1 )
y = df_final[['Oscar_Best_Picture_won']]

In [37]:

# Dividimos el conjunto de datos en dos partes: entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [38]:
# Creamos el modelo de regresiÃ³n logÃ­stica
model = LogisticRegression()

In [39]:

# Entrenamos el modelo con los datos de entrenamiento
model.fit(X_train, y_train)

/home/rafael/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [40]:
# Calcular la precisiÃ³n del modelo sobre el conjunto de pruebas
precision = model.score(X_test, y_test)

# Imprimir la precisiÃ³n
print(precision)

0.9851301115241635

In [41]:
from sklearn.metrics import classification_report

# Hacer predicciones sobre el conjunto de pruebas
y_pred = model.predict(X_test)

# Imprimir un informe de clasificaciÃ³n con las mÃ©tricas relevantes
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.99      1.00      0.99       265
           1       0.00      0.00      0.00         4

    accuracy                           0.99       269
   macro avg       0.49      0.50      0.50       269
weighted avg       0.97      0.99      0.98       269

/home/rafael/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1327: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/rafael/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1327: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/rafael/anaconda3/envs/dhdsblend2021/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1327: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [42]:
X_test.head()

,year,duration,rate,metascore,votes,gross,user_reviews,critic_reviews,popularity,awards_wins,...,Oscar_Best_Supporting_Actress_nominated_No,Oscar_Best_Supporting_Actress_nominated_Yes,Oscar_Best_AdaScreen_won_No,Oscar_Best_AdaScreen_won_Yes,Oscar_Best_AdaScreen_nominated_No,Oscar_Best_AdaScreen_nominated_Yes,Oscar_Best_OriScreen_won_No,Oscar_Best_OriScreen_won_Yes,Oscar_Best_OriScreen_nominated_No,Oscar_Best_OriScreen_nominated_Yes
275,2003,143,8.0,63.0,839783,305390000.0,2127.0,269.0,407.0,5,...,1,0,1,0,1,0,1,0,1,0
1270,2018,89,7.8,91.0,16874,770000.0,84.0,198.0,107.0,3,...,1,0,1,0,1,0,1,0,1,0
317,2004,152,7.7,73.0,113740,75305995.0,436.0,207.0,3084.0,12,...,1,0,1,0,1,0,1,0,1,0
1291,2020,102,7.4,61.0,109874,141950121.0,728.0,322.0,635.0,0,...,1,0,1,0,1,0,1,0,1,0
1257,2018,112,7.3,71.0,39583,194360000.0,445.0,210.0,48.0,0,...,1,0,1,0,1,0,1,0,1,0

In [47]:
y_pred[y_pred == 1]

# No logra predecir ninguna de las peliculas del data set test como ganadoras del oscar

array([], dtype=int64)

In [53]:
# Separemos de manera diferente el data set

df_past = df_final[df_final.year < 2020]

df_2020 =  df_final[df_final.year == 2020]

,year,duration,rate,metascore,votes,gross,user_reviews,critic_reviews,popularity,awards_wins,...,Oscar_Best_Supporting_Actress_nominated_Yes,Oscar_Best_AdaScreen_won_No,Oscar_Best_AdaScreen_won_Yes,Oscar_Best_AdaScreen_nominated_No,Oscar_Best_AdaScreen_nominated_Yes,Oscar_Best_OriScreen_won_No,Oscar_Best_OriScreen_won_Yes,Oscar_Best_OriScreen_nominated_No,Oscar_Best_OriScreen_nominated_Yes,Oscar_Best_Picture_won
0,2001,118,6.4,44.0,66660,47100000.0,318.0,125.0,2363.0,1,...,0,1,0,1,0,1,0,1,0,0
1,2000,84,7.0,88.0,144475,106790000.0,361.0,186.0,2859.0,5,...,0,1,0,1,0,1,0,1,0,0
2,2005,106,5.7,40.0,273203,154700000.0,1008.0,278.0,1876.0,0,...,0,1,0,1,0,1,0,1,0,0
3,2002,123,7.4,61.0,63852,25780000.0,272.0,126.0,2508.0,2,...,0,1,0,1,0,1,0,1,0,0
4,2001,178,8.8,92.0,1286275,313840000.0,5078.0,296.0,204.0,26,...,0,1,0,0,1,1,0,1,0,0

In [64]:
X_past = df_past.drop(['Oscar_Best_Picture_won'], axis = 1 )
y_past = df_past[['Oscar_Best_Picture_won']]
X_2020 = df_2020.drop(['Oscar_Best_Picture_won'], axis = 1 )
y_2020 = df_2020[['Oscar_Best_Picture_won']]

In [65]:
# Creamos el modelo de regresiÃ³n logÃ­stica
model = LogisticRegression()

model.fit(X_past, y_past.values.ravel())

LogisticRegression()

In [66]:
precision = model.score(X_, y_test)

# Imprimir la precisiÃ³n
print(precision)

0.9851301115241635

In [ ]:
# Hacer predicciones sobre el conjunto de pruebas
y_pred = model.predict(X_test)

# Imprimir un informe de clasificaciÃ³n con las mÃ©tricas relevantes
print(classification_report(y_test, y_pred))